* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.person {
  background: #eeeeee;
  width: 276px;
  padding: 10px;
  margin:32px auto;
  transition: all 0.3s linear;
  border-radius: 8%;
  text-align: center;
}
.person img {
  border-radius: 50%;
  border: 2px solid teal;
}

.person h4 {
  text-transform: capitalize;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  color: teal;
}
.person:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}